footer.footer
  .footer__i
    .footer__copyright © Ампер, 2015г. Вся продукция сертифицирована.
    ul.footer-nav
      li.footer-nav__item
        a.footer-nav__link.js-fancybox-link(href="#deliveryPopup") доставка
      li.footer-nav__item
        a.footer-nav__link.js-anchor-link(href="#contacts") контакты
      li.footer-nav__item
        a.footer-nav__link.js-anchor-link(href="#brand") наши бренды
      li.footer-nav__item
        a.footer-nav__link.js-anchor-link(href="#about") о нас


