.header
  .header__i
    a.logo(href="#")
      img.logo__img(src="img/r-logo.png")
      .logo-text
        .logo-text__i магазин
        .logo-text__i аккумуляторов
    nav.nav-wr
      ul.nav
        li.nav__item
          a.nav__link.js-anchor-link(href="#brand") Наши бренды
        li.nav__item
          span.separator.separator_red
        li.nav__item
          a.nav__link.js-anchor-link(href="#contacts") Контакты
        li.nav__item
          span.separator.separator_red
        li.nav__item
          a.nav__link.js-fancybox-link(href="#deliveryPopup") Доставка
    ul.contact-nav
      li.contact-nav__item
        a.contact-nav__link.contact-nav__link_skype(href="skype:amper.ru?call") amper.ru
      li.contact-nav__item
        a.contact-nav__link.contact-nav__link_phone(href="tel:8-928-908-56-58") 8-928-908-56-58
